@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<div>
    <p>
        I'm a Data Scientist interested in both Machine Learning and Visualisation.
        When not working I should be climbing outdoors but will definitely be craving a 'flat white'.
        Previously I worked as an Analytics Consultant modelling business problems;
        more recently I've been training computers to learn about human emotions with the exciting start-up
    </p>
</div>
