USE [master]
GO
/****** Object:  Database [ScienceJourney]    Script Date: 04.08.2016 22:52:45 ******/
CREATE DATABASE [ScienceJourney]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ScienceJourney', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ScienceJourney.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ScienceJourney_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ScienceJourney_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScienceJourney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScienceJourney]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Country_Province_State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[OtherDetails] [nvarchar](255) NULL,
	[Picture] [nvarchar](50) NULL,
	[createTime] [date] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Artefacts]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artefacts](
	[ArtefactID] [int] IDENTITY(1,1) NOT NULL,
	[MuseumID] [int] NULL,
	[ArtefactName] [nvarchar](50) NULL,
	[ArtefactDescription] [nvarchar](max) NULL,
	[Picture] [nvarchar](50) NULL,
	[createTime] [date] NULL,
 CONSTRAINT [PK_Artefacts] PRIMARY KEY CLUSTERED 
(
	[ArtefactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Articles]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[MuseumID] [int] NULL,
	[ScientistID] [int] NULL,
	[ArtefactID] [int] NULL,
	[ArticleDescription] [text] NULL,
	[createTime] [datetime] NULL,
	[Picture] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[id] [int] NULL,
	[name] [varchar](50) NOT NULL,
	[country_id] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countries]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] NOT NULL,
	[sortname] [varchar](3) NOT NULL,
	[name] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](25) NOT NULL,
	[last_name] [varchar](25) NOT NULL,
	[email] [varchar](80) NOT NULL,
	[password] [char](41) NOT NULL,
	[country] [int] NULL,
	[city] [int] NULL,
	[interests] [text] NULL,
	[Gender] [varchar](10) NULL,
	[createTime] [datetime] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Museums]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Museums](
	[MuseumID] [int] IDENTITY(1,1) NOT NULL,
	[AddressID] [int] NULL,
	[Shop] [bit] NULL,
	[Smoking] [bit] NULL,
	[AnnualVisitorCount] [int] NULL,
	[DateBuilt] [datetime] NULL,
	[OpeningHours] [time](7) NULL,
	[MuseumName] [nvarchar](50) NULL,
	[MuseumDescription] [nvarchar](255) NULL,
	[Picture] [nvarchar](50) NULL,
	[createTime] [date] NULL,
 CONSTRAINT [PK_Museums] PRIMARY KEY CLUSTERED 
(
	[MuseumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Scientist]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Scientist](
	[ScientistID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[AddressID] [int] NULL,
	[Title] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[createTime] [datetime] NULL,
	[Picture] [varchar](50) NULL,
 CONSTRAINT [PK_Scientist] PRIMARY KEY CLUSTERED 
(
	[ScientistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UploadedFile]    Script Date: 04.08.2016 22:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadedFile](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[FilePath] [nvarchar](50) NOT NULL,
	[FileSize] [int] NOT NULL,
 CONSTRAINT [PK_UploadedFile] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [City], [PostCode], [Country_Province_State], [Country], [OtherDetails], [Picture], [createTime]) VALUES (1, N'Zonguldak', N'340000', N'i dont know', N'BRAZIL', N'16 Haz 2009 tarihinde yüklendi
Music video by Lauren Christy performing Steep. (C) 1994 The Island Def Jam Music Group', NULL, NULL)
INSERT [dbo].[Addresses] ([AddressID], [City], [PostCode], [Country_Province_State], [Country], [OtherDetails], [Picture], [createTime]) VALUES (4, N'BARTIN', N'640000', N'COMING', N'ENGLAND', N'Orta çağda geçtiği dünülen hikayeye göre o dönemde açık ve hastalıklardan insanlar ölmektedir. Grub grup yaşadıkları alanlardan birinde bir bebek ölü olarak dünyaya gelir dünyaya geldiği sırada orda olan bir ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[Artefacts] ON 

INSERT [dbo].[Artefacts] ([ArtefactID], [MuseumID], [ArtefactName], [ArtefactDescription], [Picture], [createTime]) VALUES (19, 6, N'Jewelry', N'Jewelry is interesting in that it has no value that isn’t social—it doesn’t keep us warm or help us find food. The earliest example of people displaying decoration for its own sake is from 100,000 years ago. Scientists uncovered a collection of shells from Skhul Cave, an archaeological site on Mount Carmel in Israel. Similar items have been found in another site in Algeria.', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Artefacts] OFF
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ArticleID], [MuseumID], [ScientistID], [ArtefactID], [ArticleDescription], [createTime], [Picture]) VALUES (6, 9, 1, 19, N'Yeni e-Devlet Kapısı Android uygulaması ile www.turkiye.gov.tr adresindeki hizmetler artık mobil cihazınızda. Uygulamayı kullanabilmek için e-Devlet Şifresi ...', CAST(0x00009B5100000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Articles] OFF
INSERT [dbo].[Cities] ([id], [name], [country_id]) VALUES (1, N'Andaman and Nicobar Islands', 101)
INSERT [dbo].[Cities] ([id], [name], [country_id]) VALUES (2, N'Andhra Pradesh', 101)
INSERT [dbo].[Cities] ([id], [name], [country_id]) VALUES (3, N'Arunachal Pradesh', 101)
GO
INSERT [dbo].[countries] ([id], [sortname], [name]) VALUES (1, N'AF', N'Afghanistan')
INSERT [dbo].[countries] ([id], [sortname], [name]) VALUES (2, N'AL', N'Albania')
INSERT [dbo].[countries] ([id], [sortname], [name]) VALUES (3, N'DZ', N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([user_id], [first_name], [last_name], [email], [password], [country], [city], [interests], [Gender], [createTime]) VALUES (1, N'Erhan', N'Gidici', N'overcome_67@hotmail.com', N'4444                                     ', 5, 5, N'MOST POPULAR CHANNELS
AccuRadio is customizable Internet radio that is better radio for your workday. That’s because we''ve designed thousands of hand-crafted music channels that will sound great all day long. Plus, we offer unlimited skips and we''re always 100% free.', N'male', CAST(0x0000A63E00000000 AS DateTime))
INSERT [dbo].[Member] ([user_id], [first_name], [last_name], [email], [password], [country], [city], [interests], [Gender], [createTime]) VALUES (4, N'Yulia', N'Nur Utami', N'yulia@gmail.com', N'7777                                     ', 101, 9, N'Worked at Telkom Institute of Technology
Lives in Bandung, Indonesia', N'female', CAST(0x0000A63E00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Member] OFF
SET IDENTITY_INSERT [dbo].[Museums] ON 

INSERT [dbo].[Museums] ([MuseumID], [AddressID], [Shop], [Smoking], [AnnualVisitorCount], [DateBuilt], [OpeningHours], [MuseumName], [MuseumDescription], [Picture], [createTime]) VALUES (6, NULL, 1, 1, 75000, CAST(0x000007BE00000000 AS DateTime), CAST(0x0780862D2CBD0000 AS Time), N'NAPOLI', N'CSS can be used to create image galleries. This example use media queries to re-arrange the images on different screen sizes. Resize the browser window to see the effect', NULL, NULL)
INSERT [dbo].[Museums] ([MuseumID], [AddressID], [Shop], [Smoking], [AnnualVisitorCount], [DateBuilt], [OpeningHours], [MuseumName], [MuseumDescription], [Picture], [createTime]) VALUES (8, NULL, 0, 0, 5500, CAST(0x000007C800000000 AS DateTime), CAST(0x07801E69CAB40000 AS Time), N'MANACO', N'However, this will not work in all languages. For example, here is a quick script that uses dynamic SQL to test a date format in all the SQL languages defined in sys.syslanguages', NULL, NULL)
INSERT [dbo].[Museums] ([MuseumID], [AddressID], [Shop], [Smoking], [AnnualVisitorCount], [DateBuilt], [OpeningHours], [MuseumName], [MuseumDescription], [Picture], [createTime]) VALUES (9, NULL, 0, 1, 9500, CAST(0x000007CC00000000 AS DateTime), CAST(0x0780B6A468AC0000 AS Time), N'BARCELONA', N'However, this will not work in all languages. For example, here is a quick script that uses dynamic SQL to test a date format in all the SQL languages defined in sys.syslanguages', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Museums] OFF
SET IDENTITY_INSERT [dbo].[Scientist] ON 

INSERT [dbo].[Scientist] ([ScientistID], [LastName], [FirstName], [AddressID], [Title], [MiddleName], [createTime], [Picture]) VALUES (1, N'Tesla', N'Nikola', 1, N'Electric', N'Unknown', CAST(0x0000A58500000000 AS DateTime), NULL)
INSERT [dbo].[Scientist] ([ScientistID], [LastName], [FirstName], [AddressID], [Title], [MiddleName], [createTime], [Picture]) VALUES (2, N'Johannes', N'Kepler', 2, N'Stars', N'Unknown', CAST(0x0000A58E00000000 AS DateTime), NULL)
INSERT [dbo].[Scientist] ([ScientistID], [LastName], [FirstName], [AddressID], [Title], [MiddleName], [createTime], [Picture]) VALUES (3, N'Gidici', N'Erhan', 3, N'Computer Sciense', N'Empty', CAST(0x0000A58E00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Scientist] OFF
SET IDENTITY_INSERT [dbo].[UploadedFile] ON 

INSERT [dbo].[UploadedFile] ([FileID], [FileName], [Description], [FilePath], [FileSize]) VALUES (1, N'tesla-motors-nikola-tesla-34-car-hd-wallpaper.jpg', N'First Insert', N'f4dce926-c876-4f59-ba07-9941670c4e93.jpg', 50667)
SET IDENTITY_INSERT [dbo].[UploadedFile] OFF
ALTER TABLE [dbo].[Artefacts]  WITH CHECK ADD  CONSTRAINT [FK_Artefacts_Museums] FOREIGN KEY([MuseumID])
REFERENCES [dbo].[Museums] ([MuseumID])
GO
ALTER TABLE [dbo].[Artefacts] CHECK CONSTRAINT [FK_Artefacts_Museums]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Artefacts] FOREIGN KEY([ArtefactID])
REFERENCES [dbo].[Artefacts] ([ArtefactID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Artefacts]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Museums] FOREIGN KEY([MuseumID])
REFERENCES [dbo].[Museums] ([MuseumID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Museums]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Scientist] FOREIGN KEY([ScientistID])
REFERENCES [dbo].[Scientist] ([ScientistID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Scientist]
GO
ALTER TABLE [dbo].[Museums]  WITH CHECK ADD  CONSTRAINT [FK_Museums_Addresses] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[Museums] CHECK CONSTRAINT [FK_Museums_Addresses]
GO
USE [master]
GO
