@model  ScienceJourney.Models.ScientistPageViewModel
<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/DB/GetScientist.js"></script>
    <link href="~/Content/ScientistTable.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div ng-controller="CtrlGetScientist">

        <table>
            <tr ng-repeat="scien in scientists">
                <td>{{Scientist.FirstName}}</td>
                <td>{{Scientist.MiddleName}}</td>
                <td>{{Scientist.LastName}}</td>
                <td>{{Scientist.Title}}</td>
                <td><a href="#" data-ng-click="selectScientist(Scientist.ScientistID)">Select</a></td>
            </tr>
        </table>

    </div>

    <script>

    </script>

</body>
</html>

