<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/DB/GetScientist.js"></script>
</head>
<body ng-app="myApp">
    <div data-ng-controller="scientistCtrl">
        <table style="border:1px solid gray;">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Select Scientist</th>
            </tr>
            <tr data-ng-repeat="scien in scientists">
                <td>{{scien.FirstName}}</td>
                <td>{{scien.MiddleName}}</td>
                <td>{{scien.LastName}}</td>
                <td>{{scien.Title}}</td>
                <td><a href="#" data-ng-click="selectScientist(scien.ScientistID)">Select</a></td>
            </tr>
        </table>
    </div>

</body>
</html>

