@model  ScienceJourney.Models.ScientistPageViewModel
<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/DB/GetScientist.js"></script>
    <link href="~/Content/ScientistTable.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div ng-controller="CtrlGetScientist" ng-init="init()">

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Middle Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scien in scientists">
                    <td>{{scien.FirstName}}</td>
                    <td>{{scien.LastName}}</td>
                    <td>{{scien.Title}}</td>
                    <td>{{scien.MiddleName}}</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>

    <script>

    </script>

</body>
</html>

