@model ScienceJourney.Models.ArtefactViewModel
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/DB/GetArtefact.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
</head>
<body ng-app="myApp">
    <br />
    <br />
    <br />
    <br />
    <table class="form-horizontal" align="center">
        <tr>
            <td>
                <div ng-controller="CtrlGetArtefact" ng-init="init()">
                    <select ng-model="myOptions" ng-options="item.ArtefactID as item.ArtefactName for item in artefacts">
                        <option value="">Select Artefact Please</option>
                    </select>
                    <br />
                    <h1>You selected: {{myOptions}}</h1>
                </div>
            </td>
            @*<td>
                <div ng-controller="CtrlGetMuseum" ng-init="init()">
                    <select ng-model="museumOptions" ng-options="item.MuseumID as item.MuseumName for item in museums">
                        <option value="">Select Museum Please</option>
                    </select>
                    <br />
                    <h1>You selected: {{museumOptions}}</h1>
                </div>
            </td>*@
        </tr>
    </table>  
    <br />
    <br />
    <div class="form-horizontal" align="center" ng-controller="CtrlSaveArtefact" ng-init="init()">
        <h2>Insert a Artefact !</h2>
        <div class="form-group">
            <label for="ArtefactName">Artefact Name:</label>
            <input type="text" class="form-control" id="ArtefactName" name="ArtefactName" ng-model="artefacts.ArtefactName" required />
        </div>
        <br />
        <div class="form-group">
            <label for="ArtefactDescription">Artefact Description:</label>
            <textarea rows="15" cols="70" class="form-control" id="ArtefactDescription" name="ArtefactDescription" ng-model="artefacts.ArtefactDescription" required></textarea>
        </div>
        <br />
        <div class="form-group">
            <select class="form-control" id="MuseumID" name="MuseumID" ng-model="artefacts.MuseumID" ng-options="item.MuseumID as item.MuseumName for item in museums">
                <option value="">Select Museum Please</option>
            </select>
                <br />
                <h1>You selected: {{artefacts.MuseumID}}</h1>
        </div>
        <br />
        <button type="button" class="btn btn-primary" ng-click="send()">Submit</button>
    </div>
</body>
</html>