@model ScienceJourney.Models.AdminModel
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/DB/AdminProcess.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
</head>
<body ng-app="adminApp">
    <br />
    <br />
    <div class="container" class="form-group" ng-controller="CtrlGetScientist" ng-init="init()" align="center">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Scientists</div>
                <div class="panel-body">
                    <div>
                        <select class="form-control" ng-model="Scientist" ng-options="item.ScientistID as item.FirstName for item in scientists">
                            <option value="">Select Scientist Please</option>
                        </select>
                        <br />
                        <div class="form-group">
                            <label for="FirstName">First Name Name Name:</label>
                            <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="model.Scientist.FirstName" required />
                        </div>
                        <div class="form-group">
                            <label for="MiddleName">Middle Name:</label>
                            <input class="form-control" id="MiddleName" name="MiddleName" ng-model="model.Scientist.MiddleName" required />
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name:</label>
                            <input class="form-control" id="LastName" name="LastName" ng-model="model.Scientist.LastName" required />
                        </div>
                        <div class="form-group">
                            <label for="Title">Title:</label>
                            <input class="form-control" id="Title" name="Title" ng-model="model.Scientist.Title" required />
                        </div>
                    </div>
                    <br />
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add File</button>
                    <div id="demo" class="collapse">
                        <div ng-controller="FileUpload">
                            <form novalidate name="f1" ng-submit="SaveFile()">
                                <div style="color: red">{{Message}}</div>
                                <table>
                                    <tr>
                                        <td>Select File : </td>
                                        <td>
                                            <br />
                                            <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                            <span class="error" ng-show="(f1.file.$dirty || IsFormSubmitted) && f1.file.$error.required">Image required!</span>
                                            <span class="error">{{FileInvalidMessage}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Description : </td>
                                        <td>
                                            <input type="text" name="uFileDescription" ng-model="FileDescription" class="{{(IsFormSubmitted?'ng-dirty' + (f1.uFileDescription.$invalid?' ng-invalid':''):'')}}" autofocus />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Upload File1" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <br />
                    <br />
                    <button type="button" class="btn btn-primary" ng-click="send()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />   

    <div class="form-group" ng-controller="CtrlGetArtefact" ng-init="init()" align="left">
        <br />
        <br />
        <p>Artefacts Info</p>
        <select class="form-control" ng-model="Artefact" ng-options="item.ArtefactID as item.ArtefactName for item in artefacts">
            <option value="">Select Artefact Please</option>
        </select>
        <h3>You selected: {{Artefact}}</h3>
    </div>

    <div class="form-group" ng-controller="CtrlGetMuseums" ng-init="init()" align="left">
        <br />
        <br />
        <p>Museum Info</p>
        <select class="form-control" ng-model="Museum" ng-options="item.MuseumID as item.MuseumName for item in museums">
            <option value="">Select Museum Please</option>
        </select>
        <h3>You selected: {{Museum}}</h3>
    </div>

    <div class="form-group" ng-controller="CtrlGetArticles" ng-init="init()" align="left">
        <br />
        <br />
        <p>Articles Info</p>
        <select class="form-control" ng-model="Articles" ng-options="item.ArticleID as item.ArticleDescription for item in articles">
            <option value="">Select Articles Please</option>
        </select>
        <h3>You selected: {{Articles}}</h3>
    </div>

    <div class="form-group" ng-controller="CtrlGetAddresses" ng-init="init()" align="left">
        <br />
        <br />
        <p>Addresses Info</p>
        <select class="form-control" ng-model="Addresses" ng-options="item.AddressID as item.Country for item in addresses">
            <option value="">Select Addresses Please</option>
        </select>
        <h3>You selected: {{Addresses}}</h3>
    </div>
</body>
</html>

